
<div class="row">
  <div class="text col-md-6">
    <h2 class="welcome-txt">Welcome to Project-X</h2>
    <p class="welcome-txt">Our planet, our responsibility.
         Let's reduce our carbon footprint and save the planet.
          A clean planet is a happy planet.</p>
  </div>
  <div class="col-md-6">
    <form class="formclass">
      <h3 class="sign-in">Sign In to your account</h3>
      <div class="email-id mb-3">
        {{! <label for="exampleInputEmail1" class="email-ip form-label ">Email address</label> }}
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter Email"
          aria-describedby="emailHelp"
        />
        <div class="error1"><small class="error">Invalid Email ID</small></div>
      </div>
      <div class="pwd mb-3">
        {{! <label for="exampleInputPassword1" class="pwd form-label">Password</label> }}
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter Password"
        />
        <div class="error1"><small class="error">Invalid Password</small></div>

      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
      <div id="emailHelp" class="form-text"><p>Forgot password</p></div>
    </form>

  </div>
</div>